:root{
    --primaryblue: #10707a;
    --primarydarkgrey: #9eabbc;
    --primarygreen: #16a284;
    --primarygrey: #7c8b8c;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  color: currentColor;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

nav, section, .goals__wrapper{
    padding: 1em;
}

.intro{
    background-color: var(--primarydarkgrey);
    color: var(--primaryblue);
}

.info p{
    margin-bottom: 0.5em;
}

.about-us{
    background-color: var(--primaryblue);
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
}

.about-us h2{
    margin-bottom: 1em;
    margin-top: 1em;
}

.about-us__intro{
display: flex;
flex-direction: column;
gap: 1em;
justify-content: center;
}

.about-us__intro > *{
    width: 50%;
}

.about-us__intro img{
/* border-radius: 50%; */
/* border: 2px solid white; */
object-fit: cover;
object-position: bottom;

}

.goals{
    background-color: var(--primarygrey);
    padding: 1em 0;
    color: white;
}

.goals h2{
    margin-bottom: 1em;
}

.goals ol{
list-style-type:circle
}

.goals li{
    margin-bottom: 1em;
}

.contact{
    background-color: var(--primarygreen);
    padding-top: 1em;
    padding-bottom: 1em;
}

.socials{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }

.links__wrapper{
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    gap: 3em;
}

  

.external-links{
display: flex;
justify-content: space-between;
gap: 1em;
}

.external-links a {
text-decoration: none;
display: inline-block;
padding: .5em;
background-color: var(--primaryblue) ;
}

.external-links a:hover{
    background-color : rgb(214, 203, 203);
}

.hide{
    display: none;
}

@media screen and (min-width: 550px) {  
    .intro div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto;
    }
    .intro ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        text-indent: 0;
        padding-left: 0;
        width: 50%;
    }

    .intro ul a{
        text-decoration: none;
        font-size: 1.5rem;
    }

    .intro ul a:hover{
        color:#16a284
    }

    .about-us__intro{
        flex-direction: row;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        justify-content: space-between;
    }
 
    .info p{
      margin-bottom: 1em; 
      display: flex;
      justify-content: space-around;
      white-space: nowrap;
      font-size: 1.2rem;
    }
    .info p span{
        width: 50%;
    }
    .about-us__text{
        width: 70%;
        margin: 0 auto;
        margin-top: 1em;
    }
    .goals__wrapper{
        width: 70%;
        margin: 0 auto;
    }

    .contacts__wrapper{
        width: 70%;
        margin: 0 auto;
    }
    
}


